<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lets Talk About Tech</title>
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>
  <div class="mainpage">
    <header>
      <h1> Lets Talk About Tech</h1>
     {{>navbar}}
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
      <!--footer partial, that wil be on all pages-->
    </footer>
  </div>
</body>
