

<h1>Hello {{username}}{{user.username}}</h1>

<link rel="stylesheet" href="/stylesheets/post.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/login.css">

<form class="form-style-9 new-post-form">
<ul>
<li>
    <input type="text" class="field-style field-split align-left" placeholder="Title" name= "item-post" />

</li>
<li>
    <input type="text" class="field-style field-split align-left" placeholder="Price" name="price-post"/>
    
</li>
<li>
<textarea  class="field-style" placeholder="What do you want to say?" name= "post content"></textarea>
  
    </label>
  </div>
</li>
<li>
<button id="add-post">Add Post</button>>
</li>
</ul>
</form>



{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

<script src="/javascript/comment.js"></script>
<script src="/javascript/add-post.js"></script>