

<h1>Hello {{user.username}}</h1>

<link rel="stylesheet" href="/stylesheets/post.css">

<form class="form-style-9 new-post-form">
<ul>
<li>
    <input type="text" class="field-style field-split align-left" placeholder="Title" name= "item-post" />

</li>
<li>
    <input type="text" class="field-style field-split align-left" placeholder="Price" name="price-post"/>
    
</li>
<li>
<textarea class="field-style" placeholder="Item Description" name= "description-post"></textarea>
   <img src="https://images.unsplash.com/photo-1505751171710-1f6d0ace5a85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" height="300" width="350" id="imgPreview" name="imgPreview"/>
    <label for="img">Select image:
    <input type="file" id="imgUpload" name="img" accept="image/*">
    </label>
  </div>
</li>
<li>
<input type="submit" value="Add Item" />
</li>
</ul>
</form>



{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

<script src="/javascript/comment.js"></script>
<script src="/javascript/add-post.js"></script>